{% extends "base.html" %}

{% load staticfiles %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %} 

{% block content %}
	<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">HOFDATA</a></li>
							<li><a href="#one">Blog</a></li>
							<li><a href="#two">About Me</a></li>
							<li><a href="#three">Get in Touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
	
				<!-- Intro -->
				<section id="intro" class="wrapper style1 fullscreen fade-up">
					<div class="inner">
						<h1>HOFDATA</h1>
						<p>Python-assisted data anlaysis blog and personal site for <br />
						Python & Django developer, Eric Hofmann.</p>
						<ul class="actions">
							<li><a href="#one" class="button scrolly">Go to Blog</a></li>
						</ul>
					</div>
				</section>

				<!-- Blog Posts -->
					{% for post in blogpages|slice:"0:3" %}
						{% with post=post.specific %}
							{% if forloop.last and blogpages|length > 1 %}
								<section class='wrapper style2 spotlights'>
							{% else %}
								<section id='one' class='wrapper style2 spotlights'>
							{% endif %}
								<section>
									{% with post.main_image as main_image %}
										{% if main_image %}
											<a href='{% pageurl post%}' class='image'>{% image main_image fill-640x400 %}</a>
										{% endif %}
									{% endwith %}
									
									<div class="content">
										<div class="inner">
											<h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
											<p>{{ post.intro }}</p>
											<ul class="actions">
												<li><a href="/blog" class="button">See All Blog Posts</a></li>
											</ul>
										</div>
									</div>
								</section>
							</section>
						{% endwith %}
					{% endfor %}

				<!-- About me -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>About Me</h2>
							<p>Hi! My name's Eric Hofmann. I'm a full-stack programmer focusing on Python, Django and Javascript. I'm currently located in San Diego, CA. Other programming hobbies include big data analysis, data visualization, natural language processing, machine learning and investment automation.</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>Full-stack developer</h3>
									<p>Experience in a Django/Postgres stack using Javascript, HTML and CSS for front-end development. Specialize in business intelligence and business analytics using Highcharts for data visualization.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>Process Automation</h3>
									<p>Automating common business tasks such as manipulating .csv and Excel files using the csv and openpyxl libraries in Python, creating APIs, and automating reporting. </p>
								</section>
								<section>
									<span class="icon major fa-comments"></span>
									<h3>Natural Language Processing</h3>
									<p>Using NLP, breaking down large amounts of text to search for patterns including sentiment and pattern analysis.</p>
								</section>
								<section>
									<span class="icon major fa-money"></span>
									<h3>Finance & Investments</h3>
									<p>Creating automatic processes to aid in smart investment decisions including Python programs which continuously monitor for investment opportunities and inform the user when securities with certain criteria are met.</p>
								</section>
							</div>
						</div>
					</section>
					
				<!-- Django/Code Snippets -->
				

				<!-- Contact Me -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Feel free to reach out with any questions about the blog articles, freelance opportunities or constructive feedback.</p>
							<div class="split style1">
								<section>
									<form action="/contact-me/" method="post">
										{% csrf_token %}
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Location</h3>
											<span>San Diego, CA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">ericlightohfmann@gmail.com</a>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://github.com/ericlighthofmann" class="fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.linkedin.com/in/ericlhofmann/" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; HOFDATA. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>
    
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
	<!-- user feedback for contact me form -->
	<script>
	$( document ).ready(function() {
		{% if messages %}
			{% for message in messages %}
				swal({
					icon: "success",
					title: "Email sent!", 
					text: "{{message}}", 
					buttons: false
				});
			{% endfor %}
		{% endif %}
	});
	</script>
	
{% endblock %}